.svg1 { 
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3000;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    #preloader{
    height: 100%;
    width: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
       svg{
           margin-left: 25%;
         
          .ripple { fill: transparent;
                    stroke:  #e1ad01;
                    stroke-width: 5px;
                    transform-origin: 50% 50%;
                    animation: 2s ease-out 0s infinite ripple-out;
                }
         .ripple2{ 
              animation-delay: 1s;
            }
         .ripple3{ 
              animation-delay: 1.6s;
            }
        }}
      
        
        
        
        
        
  
      @keyframes ripple-out{
        0%{
          r: 0px;
          opacity: 1.0; }
        
        100%{
          r: 80px;
          opacity: 0.0;}}
}