.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin-right: 8%;
        @media (min-width:1400px){
            margin-right: 10%;
        }
        li {
            padding: 5px 10px; 
            margin: 5px 25px;
            margin-bottom: 10px;
            width: 30px;
            cursor: pointer;
            font-size: 20px;
            @media (min-width:1400px){
                font-size: 30px;
                margin: 5px 35px;
            }
            .link {
                color: black;
                text-decoration: none;
                @media (min-width:1400px){
                    font-size: 25px;
                }
            }
            .link:hover {
                text-decoration: line-through #e1ad01;
            }

        .is-active-home::after{
            content: "aa"; 
            position: relative;
            bottom: -15px;
            left: -20px;
            font-size: 6px;
            color: #e1ad01;
            padding: 1px;
            border-radius: 15px;
            background-color:#e1ad01;
            @media (min-width:1400px){
               left: -30px;
            }
        }

        .is-active-about::after{
            content: "aa"; 
            position: relative;
            bottom: -15px;
            left: -25px;
            font-size: 6px;
            color: #e1ad01;
            padding: 1px;
            border-radius: 15px;
            background-color:#e1ad01;
            @media (min-width:1400px){
                left: -35px;
             }

        }
        .is-active-skills::after {
            content: "aa"; 
            position: relative;
            bottom: -15px;
            left: -30px;
            font-size: 6px;
            color: #e1ad01;
            padding: 1px;
            border-radius: 15px;
            background-color:#e1ad01;
            @media (min-width:1400px){
                left: -40px;
             }
        }
        .is-active-projects::after {
            content: "aa"; 
            position: relative;
            bottom: -15px;
            left: -20px;
            font-size: 6px;
            color: #e1ad01;
            padding: 1px;
            border-radius: 15px;
            background-color:#e1ad01;
            @media (min-width:1400px){
                left: -30px;
             }
        }
        .is-active-contact::after {
            content: "aa"; 
            position: relative;
            bottom: -15px;
            left: -35px;
            font-size: 6px;
            color: #e1ad01;
            padding: 1px;
            border-radius: 15px;
            background-color:#e1ad01;
            @media (min-width:1400px){
               left: -50px;
            }
        }
    }}
    @media ( max-width:930px) {
        display: none;
    }
}