.contact-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 91%;
    padding-top: 25px;
    p, h1{
        margin: 0%;
        margin-bottom: 2%;
        @media ( min-width: 1400px){
            font-size: 25px;
        }
    }
    .contact {
        width: 50%;
        @media (max-width:550px){
            width: 400px;
        }
        .details{
            margin-bottom: 20px;
            display: flex;
            input {
                width: 47%;
                height: 30px;
                font-family: 'monofonto';
                outline: none;
                background: transparent;
                border: none;
                border-bottom: #e1ad01 solid 2px;
                @media ( min-width: 1400px){
                    font-size: 20px;
                }
            }
            input[type=name] {
                margin-right: 10px;
            }
        }
        .description {
            display: flex;
            flex-direction: column;
            input{
                width: 97.4%;
                height: 30px;
                background: transparent;
                font-family: 'monofonto';
                border: none;
                border-bottom: #e1ad01 solid 2px;
                outline: none;
                @media ( min-width: 1400px){
                    font-size: 20px;
                }
            }
            #message {
                height: 100px;
                width: 97.4%;
                margin-top: 20px;
                text-align: left;
                background: transparent;
                font-family: 'monofonto';
                border: none;
                border-bottom: #e1ad01 solid 2px;
                outline: none;
                @media ( min-width: 1400px){
                    font-size: 20px;
                }
                  
            }
        }
    }
    .info {
        margin-left: 100px;
        line-height: 30px;
        p{
            font-weight: 100;
        }
        @media (max-width: 930px){
            margin:0;
            margin-top: 50px;
            margin-left: 15px;
        }
    }
    @media ( max-width:930px) {
        margin-top: 50px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}