@font-face {
  src: url("./fonts/Snowballs\ City_PersonalUseOnly.ttf");
  font-family: 'snowballs';
}

@font-face {
  src: url("./fonts/monofonto.ttf");
  font-family: "monofonto";
}
$main : white;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'monofonto';
  // height: 100vh;
  background: $main;
  }
::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
